<%
var joinStr = theme.title_join_string
var title = config.title
if (page.title) {
  title = [page.title, title].join(joinStr)
}
%>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for(theme.apple_touch_icon) %>">
    <link rel="icon" type="image/png" href="<%- url_for(theme.favicon) %>">
    <meta name="description" content="<%= config.description %>">
    <meta name="author" content="<%= page.author || config.author %>">
    <meta name="keywords" content="<%= config.keywords %>">
    <title><%= title %></title>
    <script type="text/javascript">
		if (!!window.ActiveXObject || "ActiveXObject" in window) {
			alert('请抛弃万恶的IE系列浏览器吧。');
		}
	</script>
     <script id="sakura-config">
       var Sakura = window.Sakura || {};
     </script>
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+SerifMerriweather|Merriweather+Sans|Source+Code+Pro|Ubuntu:400,700|Noto+Serif+SC" media="noexist" onload="this.media='all'">
     <script src="https://use.fontawesome.com/9132c83cc0.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
     <script src="/js/events.js"></script>
     <script src="/js/boot.js"></script>
     <link rel="stylesheet" href="/css/main.css">
</head>