<nav class="site-header <% if(is_home()) { %> is-homepage <% } %>" role="banner">
    <div class="site-top">
        <div class="site-branding">
            <% if(theme.blog_logo && theme.blog_logo != '') {%>
                <div class="site-title">
                    <a href="/">
                        <img src=<%- url_for(theme.blog_logo) %>>
                    </a>
                </div>
            <% } else {%>
                <h1 class="site-title"><a href="/"><%= theme.blog_title %></a></h1>
            <% } %>   
        </div>
        <div class="header-user-avatar">
            <img src=<%- gravatar(theme.email_address) %>  width="30" height="30">
            <div class="header-user-menu">
                <div class="herder-user-name">
                    <div class="herder-user-name-u"><%= theme.nickname %></div>
                </div>
            </div>
        </div>
        <% if(theme.nav.top_search){%>
            <div class="searchbox"><i class="fa fa-search iconsearch icon-search"></i></div>
        <% } %> 
        <div class="lower-cantiner">
            <div class="lower">
                <% if(theme.nav.shownav = 'false'){ %>
                    <div id="show-nav" class="showNav mobile-fit">
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                    </div>
                <% } %>
                <nav class='navbar'>
                    <ul id="menu-menu-1" class="menu">
                        <% for(const each of theme.nav.menu || []) { %>
                        <% if (!each.key) continue; %>
                        <li>
                            <a href=<%= each.link %>  target="_self">
                                <span class="faa-parent animated-hover">
                                        <i class="fa <%= each.icon %> " aria-hidden="true"></i>
                                    <%= each.key %>
                                </span>
                            </a>
                        </li>
                        <% } %> 
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</nav>