<%
var subtitle = page.subtitle || page.title
var banner_img = page.banner_img || theme.index.banner_img
var banner_img_height = page.banner_img_height || theme.index.banner_img_height
var banner_mask_alpha = page.banner_mask_alpha || theme.index.banner_mask_alpha
%>

<!DOCTYPE html>
<html lang="<%= config.language %>" >

<%- partial('_partial/head') %> 
<body class="serif">
    <main>
        <% if(is_post() || page.layout === '404') { %>
            <%- body %>
        <% } else { %>
            <%- body %> 
        <% } %>
    </main>
</body>

<%- partial('_partial/footer') %>

</html>